    /*ogólny styl strony*/
    body {
        background-color: #0b1020;
        color: white;
        margin: 0;
    }
    /*style do nava*/
        nav {
            position: sticky;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            justify-content: space-between;
            display: flex;
            padding: 20px 10%;
            align-items: center;
            z-index: 1000;

        }
            nav ul {
        display: flex;
        gap: 30px;
        list-style: none;
        }
        /*ten niebieski napis w logu*/
            .logo a,
            .logo a:link,
            .logo a:visited,
            .logo a:hover,
            .logo a:active,
            .logo a:focus {
                color: #00e5ff;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 700;
            }
        /*boczne menu*/
            .menu a,
            .menu a:link,
            .menu a:visited,
            .menu a:hover,
            .menu a:active,
            .menu a:focus {
                color: white;
                font-size: larger;    
                font-weight: 700;
                text-decoration: none;
            }
        /*menu na telefonach*/
            .hamburger {
                display: none;
                font-size: 2rem;
                cursor: pointer;
                color: white;
            }
            @media(max-width: 768px) {

                .hamburger {
                    display: block;
                }

                .menu {
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                    gap: 30px;
                    list-style: none;

                    max-height: 0;
                    overflow: hidden;
                    opacity: 0;

                    transition:
                    max-height 0.4s ease,
                    opacity 0.3s ease;
                }

                .menu a:hover {
                    color: #00e5ff;
                    transition: 0.3s;
                }
                .menu.active {
                    max-height: 500px;
                    opacity: 1;
                }

                nav {
                    flex-wrap: wrap;
                }
            }
    /*text ogólny*/
    h1 {
        margin-top: 100px;
        text-align: center;
        font-size: 350%;
    }

    h2  { margin-top: 100px;
    text-align: center;
    font-size: 250%;
}

    h3 { margin-top: 100px;
    text-align: center;
    font-size: 200%;}

    .content-box {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 40px;
    }